h1 {
  margin-left: 300px;
  padding: 50px;
  color: pink;
}

h2 {
    color: #343434;
    margin-left: 100px;
    margin-right: 200px;
    padding: 5px;
}

h3 {
    color: #343434;
    margin-left: 100px;
    margin-right: 100px;

}

h4 {
  margin-left: 100px;
  margin-right: 400px;
  padding: 5px;
  color: #343434;
}

h5 {
    margin-left: 100px;
    margin-right: 400px;
    padding: 5px;
    color: #343434
}

#twitter {
   margin-left: 100px;
   margin-right: 400px;
   padding: 5px;
   color: #343434
}

#mapa {
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}


#header {
    width: 100%;
    background: #ff007f;
    position: fixed;
}

#semicirculo {
    margin-right: 400px;

}

.repor {
  margin-left: 100px;
  margin right: 200px;
  line-height: 1.5;
  font-family: 'Roboto Condensed', sans-serif;
  color: #343434;

}

blockquote  {
background:white url(comillas.gif) no-repeat scroll 10px 10px;
padding:25px 0 25px 70px;
}

blockquote  p  {
font-size: 18px;
color: #333;
}

#center {
  margin-left: 50px;
  margin-right: 100px;
}

.entero {
  margin-left: 100px;
  margin-right: 200px;

}
